.projects {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 50px;
  box-sizing: border-box;
  .top {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    .title {
      font-family: Poppins;
      font-weight: 600;
      font-size: 25px;
      line-height: 64px;
      letter-spacing: 0%;
      color: #282938;
    }
    a {
      text-decoration: none;
      font-family: Poppins;
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0%;
      color: #282938;
      display: flex;
      align-items: center;
      gap: 14px;
    }
  }
  .bottom {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    .project {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        .cover {
          display: block;
          right: 0;
        }
      }
      .cover {
        height: 100%;
        width: 100%;
        position: absolute;
        right: 100%;
        background: linear-gradient(#1c1e53, #1c1e536b);
        padding: 20px;
        box-sizing: border-box;
        transition: 500ms;
        .texts {
          display: flex;
          flex-flow: column nowrap;
          gap: 20px;
          align-items: center;
          justify-content: center;
          .title {
            font-family: Poppins;
            font-weight: 600;
            font-size: 16px;
            line-height: 64px;
            letter-spacing: 0%;
            color: white;
            padding: 8px;

            box-sizing: border-box;
          }
          .description {
            font-family: Poppins;
            font-weight: 400;
            font-size: 12px;
            line-height: 28px;
            letter-spacing: 0%;
            color: white;
            opacity: 80%;
            text-align: center;
            padding: 30px;
            box-sizing: border-box;
          }
        }
        a {
          text-decoration: none;
          font-family: Poppins;
          font-weight: 500;
          font-size: 14px;
          line-height: 28px;
          letter-spacing: 0%;
          color: #fcd980;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
          img {
            width: 5%;
          }
        }
      }
    }
    .projectGroup {
      display: flex;
      flex-flow: column nowrap;
      gap: 24px;
      justify-content: center;
      align-items: center;
      .work {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        padding: unset;
        &:hover {
          .cover2 {
            display: block;
            right: 0;
          }
        }
        .image{
          width: 100%;
          img{
            width: 100%;
          }
        }
        .cover2 {
          height: 100%;
          width: 100%;
          position: absolute;
          right: 100%;
          background: linear-gradient(#1c1e53, #1c1e536b);
          padding: 20px;
          box-sizing: border-box;
          transition: 500ms;
          .texts {
            display: flex;
            flex-flow: column nowrap;
            gap: 20px;
            align-items: center;
            .title {
              font-family: Poppins;
              font-weight: 600;
              font-size: 16px;
              line-height: 64px;
              letter-spacing: 0%;
              color: white;
              padding: 8px;

              box-sizing: border-box;
            }
            .description {
              font-family: Poppins;
              font-weight: 400;
              font-size: 12px;
              line-height: 28px;
              letter-spacing: 0%;
              color: white;
              opacity: 80%;
              text-align: center;
              padding: 30px;
              box-sizing: border-box;
            }
          }
          a {
            text-decoration: none;
            font-family: Poppins;
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0%;
            color: #fcd980;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            img {
              width: 5%;
            }
          }
        }
      }
    }
  }
}
