.team {
  gap: 48px;
  padding: 128px 160px;

  .title {
    line-height: 64px;
    font-size: 48px;
  }
  .profiles {
    gap: 32px;
    .profile {
      padding: 44px;
      gap: 30px;
      .picture {
        &:hover {
          .hover {
          }
        }
        img {
          &.hover {
          }
        }
      }
      .person {
        gap: 4px;
        .name {
          line-height: 36px;
          font-size: 24px;
        }
        .job {
          font-size: 16px;
          line-height: 28px;
        }
      }
    }
  }
}
