<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finsweet</title>
    <link
      rel="shortcut icon"
      href="../../public/images/essentials/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div id="app">
      <!--menu-->
      <label for="show">
        <div></div>
        <div></div>
        <div></div>
      </label>
      <input type="radio" name="menu" id="show" />
      <input type="radio" name="menu" id="close" />
      <header>
        <label for="close"> &times; </label>
        <div class="logo">
          <img
            src="../../public/images/essentials/Logo.svg"
            alt="FinsweetLogo"
          />
        </div>
        <div class="menuItems">
          <div class="menu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="#" class="active">About Us</a>
                </li>
                <li>
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="../templates/pricing.html">Pricing</a>
                </li>
                <li>
                  <a href="../templates/FAQ.html">FAQ</a>
                </li>
                <li>
                  <a href="../templates/blog.html">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="contactBtn">
            <button>Contact us</button>
          </div>
        </div>
      </header>
      <!--end menu-->

      <!--abouthero-->
      <div class="aboutHero">
        <div class="content">
          <div class="texts">
            <div class="text">About Us</div>
            <div class="title">Our designs solve problems</div>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </div>
        </div>
        <img
          src="../../public/images/about us/heroimage/hero.png"
          alt="aboutUs"
        />
      </div>
      <!-- end abouthero-->

      <!--who we are-->
      <div class="whoWe">
        <div class="texts">
          <div class="textGroup">
            <div class="subject">Who we are</div>
            <div class="title">Goal focussed</div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
          <div class="textGroup">
            <div class="subject"></div>
            <div class="title">Continuous improvement</div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>
        <img
          src="../../public/images/about us/whoWeAre/whoWeAre.png"
          alt="who we are"
        />
      </div>
      <!--end who we are-->

      <!--process-->
      <div class="process">
        <div class="title">The process we follow</div>
        <div class="cardsProcess">
          <div class="card">
            <div class="lineAndicon">
              <img
                src="../../public/images/about us/process/Circle.svg"
                alt="circle"
              />
              <img
                src="../../public/images/about us/process/Line.svg"
                alt="line"
              />
            </div>
            <div class="info">
              <div class="subject">Planning</div>
              <div class="text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="lineAndicon">
              <img
                src="../../public/images/about us/process/Circle.svg"
                alt="circle"
              />
              <img
                src="../../public/images/about us/process/Line.svg"
                alt="line"
              />
            </div>
            <div class="info">
              <div class="subject">Conception</div>
              <div class="text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="lineAndicon">
              <img
                src="../../public/images/about us/process/Circle.svg"
                alt="circle"
              />
              <img
                src="../../public/images/about us/process/Line.svg"
                alt="line"
              />
            </div>
            <div class="info">
              <div class="subject">Design</div>
              <div class="text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="lineAndicon">
              <img
                src="../../public/images/about us/process/Circle.svg"
                alt="circle"
              />
              <img
                src="../../public/images/about us/process/Line.svg"
                alt="line"
              />
            </div>
            <div class="info">
              <div class="subject">Development</div>
              <div class="text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end process-->

      <!--our mission our vision-->
      <div class="mission">
        <div class="top">
          <div class="textGroup">
            <div class="subject">Our Mission</div>
            <div class="title">Inspire, Innovate, Share</div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
          <img
            src="../../public/images/about us/ourmissions/mission.png"
            alt="mission"
          />
        </div>
        <div class="bottom">
          <div class="textGroup">
            <div class="subject">Our Mission</div>
            <div class="title">Laser focus</div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
          <img
            src="../../public/images/about us/ourmissions/vision.png"
            alt="mission"
          />
        </div>
      </div>
      <!--end our mission our vision-->

      <!--benefits-->
      <div class="benefits">
        <div class="title">The benefits of working with us</div>
        <div class="cardsBenefit">
          <div class="card">
            <img
              src="../../public/images/about us/benefits/icon1.svg"
              alt="icon"
            />
            <div class="titleCard">Customize with ease</div>
            <div class="descriptionCard">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua ut
              enim.
            </div>
          </div>
          <div class="card">
            <img
              src="../../public/images/about us/benefits/icon2.svg"
              alt="icon"
            />
            <div class="titleCard">Perfectly Responsive</div>
            <div class="descriptionCard">
              Euismod faucibus turpis eu gravida mi. Pellentesque et velit
              aliquam sed faucib turpis eu gravida mi. Pellentesque et velit
              aliquam sed mi.
            </div>
          </div>
          <div class="card">
            <img
              src="../../public/images/about us/benefits/icon3.svg"
              alt="icon"
            />
            <div class="titleCard">Friendly Support</div>
            <div class="descriptionCard">
              Euismod faucibus turpis eu gravida mi. Pellentesque et velit
              aliquam sed faucib turpis eu gravida mi. Pellentesque et velit
              aliquam sed mi.
            </div>
          </div>
        </div>
        <div class="logo">
          <img
            src="../../public/images/about us/benefits/Logo Number.svg"
            alt="logo&number"
            class="mainLogo"
          />
          <img
            src="../../public/images/about us/benefits/logo1.svg"
            alt="logo"
          />
          <img
            src="../../public/images/about us/benefits/logo2.svg"
            alt="logo"
          />
          <img
            src="../../public/images/about us/benefits/logo3.svg"
            alt="logo"
          />
          <img
            src="../../public/images/about us/benefits/Logo4.svg"
            alt="logo"
          />
          <img
            src="../../public/images/about us/benefits/Logo5.svg"
            alt="logo"
          />
        </div>
      </div>
      <!--end benefits-->

      <!--meet our team-->
      <div class="team">
        <div class="title">Meet our team</div>
        <div class="profiles">
          <div class="profile">
            <div class="picture">
              <img src="../../public/images/about us/ourTeam/card1.png" alt="profile"/>
             <img src="../../public/images/about us/ourTeam/hover.svg" alt="hover" class="hover">
            </div>
            <div class="person">
              <div class="name">John Smith</div>
              <div class="job">CEO</div>
            </div>
          </div>
          <div class="profile">
            <div class="picture">
              <img src="../../public/images/about us/ourTeam/card2.png" alt="profile"/>
             <img src="../../public/images/about us/ourTeam/hover.svg" alt="hover" class="hover">
            </div>
            <div class="person">
              <div class="name">Simon Adams</div>
              <div class="job">CTO</div>
            </div>
          </div>
          <div class="profile">
            <div class="picture">
              <img src="../../public/images/about us/ourTeam/card3.png" alt="profile"/>
             <img src="../../public/images/about us/ourTeam/hover.svg" alt="hover" class="hover">
            </div>
            <div class="person">
              <div class="name">Paul Jones</div>
              <div class="job">Design Lead</div>
            </div>
          </div>
          <div class="profile">
            <div class="picture">
              <img src="../../public/images/about us/ourTeam/card4.png" alt="profile"/>
             <img src="../../public/images/about us/ourTeam/hover.svg" alt="hover" class="hover">
            </div>
            <div class="person">
              <div class="name">Sara Hardin</div>
              <div class="job">Project Manager</div>
            </div>
          </div>
        </div>
      </div>
      <!--end meet our team-->

      <!--footer-->
       <footer>
        <div class="footer">
          <div class="content">
            <div class="left">
              <img src="../../public/images/essentials/Logo.svg" alt="logo">
              <div class="caption">
                We are always open to discuss your project and improve your online presence.
              </div>
            </div>
            <div class="right">
              <div class="title">Lets Talk!</div>
              <div class="text">We are always open to discuss your project, improve your online presence and help with your UX/UI design challenges.</div>
              <div class="socials">
               <img src="../../public/images/essentials/socials.svg" alt="socialMedia">
              </div>
            </div>
          </div>
          <div class="contactInfo">
            <div class="email">
              <div class="subject">
                Email me at
              </div>
              <div class="address">
                contact@website.com
              </div>
            </div>
            <div class="call">
              <div class="callUs">
                Call us
              </div>
              <div class="number">
                0927 6277 28525
              </div>
            </div>
          </div>
        </div>
        <div class="footerLinks">
          <div class="copyright">
            Copyright 2021, Finsweet.com
          </div>
          <div class="footerMenu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="#">About Us</a>
                </li>
                <li>
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="#">Pricing</a>
                </li>
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
       </footer>
      <!--end footer-->
    </div>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
