<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!--menu-->
      <label for="show">
        <div></div>
        <div></div>
        <div></div>
      </label>
      <input type="radio" name="menu" id="show" />
      <input type="radio" name="menu" id="close" />
      <header>
        <label for="close"> &times; </label>
        <div class="logo">
          <img
            src="../../public/images/essentials/Logo.svg"
            alt="FinsweetLogo"
          />
        </div>
        <div class="menuItems">
          <div class="menu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="#" class="active">About Us</a>
                </li>
                <li>
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="#">Pricing</a>
                </li>
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="contactBtn">
            <button>Contact us</button>
          </div>
        </div>
      </header>
      <!--end menu-->

      <!--abouthero-->
      <div class="aboutHero">
        <div class="content">
          <div class="texts">
            <div class="text">About Us</div>
            <div class="title">Our designs solve problems</div>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </div>
        </div>
        <img
          src="../../public/images/about us/heroimage/hero.png"
          alt="aboutUs"
        />
      </div>
      <!-- end abouthero-->

      <!--who we are-->
      <div class="whoWe">
        
      </div>
      <!--end who we are-->
    </div>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
