<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finsweet</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon-DVD8y659.png"
      type="image/x-icon"
    />
    <script type="module" crossorigin src="../../assets/main-BqbYcHBR.js"></script>
    <link rel="stylesheet" crossorigin href="../../assets/main-DpIG-Osk.css">
  </head>
  <body>
    <div id="app">
      <!--menu-->
      <label for="show">
        <div></div>
        <div></div>
        <div></div>
      </label>
      <input type="radio" name="menu" id="show" />
      <input type="radio" name="menu" id="close" />
      <header>
        <label for="close"> &times; </label>
        <div class="logo">
          <img
            src="../../assets/Logo-B8ZhQzM_.svg"
            alt="FinsweetLogo"
          />
        </div>
        <div class="menuItems">
          <div class="menu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="../../src/templates/aboutUs.html" 
                    >About Us</a
                  >
                </li>
                <li>
                  <a href="../templates/features.html">Features</a>
                </li>
                <li>
                  <a href="../templates/pricing.html">Pricing</a>
                </li>
                <li>
                  <a href="../templates/FAQ.html" >FAQ</a>
                </li>
                <li>
                  <a href="../../src/templates/blog.html" 
                    >Blog</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="contactBtn">
            <a href="#" class="active">
                <button>Contact us</button>
              </a>
          </div>
        </div>
      </header>
      <!--end menu-->
      <!--contact us-->
       <div class="flex flex-col justify-center items-center xl:gap-16 xs:gap-8">
        <div class="flex flex-col justify-center items-center xl:gap-4 xs:gap-2 xl:px-[519px] xl:pt-32 xs:p-[10px] box-border">
            <div class="font-[Poppins] font-semibold text-[#282938] xl:text-5xl xs:text-2xl ">Contact Us</div>
            <div class="font-[Poppins] text-[#282938] opacity-70 tetx-[16px] font-normal text-center leading-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
              </div>
         </div>
         <div class="xl:w-full xs:w-full xl:px-[270px] xs:p-[50px] pb-32 flex flex-col justify-center items-center ">
            <div class="w-full flex flex-col justify-start items-start xl:gap-6 xs:gap-4 xl:px-[77px] xl:pt-[55px] xl:pb-[69px] xs:p-[15px] box-border bg-[#F4F6FC] rounded-[12px]">
                <div class="w-full flex xl:flex-row xs:flex-col   justify-between xl:gap-8 xs:gap-5">
                    <div class="flex flex-col gap-1.5 justify-start font-[Poppins] font-normal text-[18px] text-zinc-950 xl:w-5/12 xs:w-full">
                        Name
                        <input type="text" name="Name" id="Name" placeholder="Enter you name" class="border border-solid border-[#0000001F] rounded-[8px] xl:py-[18px] xl:pl-8 font-[Poppins] text-[16px] text-[#0000007c] xs:w-full xs:py-3 xs:pl-1 ">
                    </div>
                    <div class="flex flex-col gap-1.5 justify-start font-[Poppins] font-normal text-[18px] text-zinc-950 xl:w-5/12 xs:w-full">
                     Email
                      <input type="text" name="Email" id="Email" placeholder="Enter your email" class="border border-solid border-[#0000001F] rounded-[8px] xl:py-[18px] xl:pl-8 font-[Poppins] text-[16px] text-[#0000007c] xs:w-full xs:py-3 xs:pl-1 ">
    </div>
                </div>
                <div class=" w-full flex xl:flex-row xs:flex-col   justify-between xl:gap-8 xs:gap-5">
                    <div class="flex flex-col gap-1.5 justify-start font-[Poppins] font-normal text-[18px] text-zinc-950 xl:w-5/12 xs:w-full">
                        Subject
                        <input type="text" name="Subject" id="Subject" placeholder="Provide context" class="border border-solid border-[#0000001F] rounded-[8px] xl:py-[18px] xl:pl-8 font-[Poppins] text-[16px] text-[#0000007c] xs:w-full xs:py-3 xs:pl-1">
                    </div>
                    <div class="flex flex-col gap-1.5 justify-start font-[Poppins] font-normal text-[18px] text-zinc-950 xl:w-5/12 xs:w-full">
                        Subject
                    <input type="text" name="Subject" id="Subject" placeholder="Select subject" class="border border-solid border-[#0000001F] rounded-[8px] xl:py-[18px] xl:pl-8 font-[Poppins] text-[16px] text-[#0000007c] xs:w-full xs:py-3 xs:pl-1">
                    </div>
                </div>
                <div class="w-full flex flex-row flex-wrap justify-between xl:gap-8 xs:gap-5 ">
                   <div class="flex flex-col gap-1.5 justify-start font-[Poppins] font-normal text-[18px] text-zinc-950 w-full">
                    message
                    <input type="text" name="Message" id="Message" placeholder="Write your question here" class="pb-[92px]  h-36 border border-solid border-[#0000001F] rounded-[8px] xl:py-[18px] xl:pl-8 font-[Poppins] text-[16px] text-[#0000007c] xs:py-3 xs:pl-1">
                   </div>
                </div>
                <div class="button">
                    <button class="xl:px-16 xl:py-4 xs:p-5 box-border rounded-[41px] bg-[#282938] font-[Manrope] font-semibold text-[#F4F6FC] text-[18px] hover:bg-amber-300 hover:text-[#282938] transition duration-500">Send Message</button>
                </div>
             </div>
         </div>
       </div>
      <!--end contact us-->
      <!--footer-->
      <footer>
        <div class="footer">
          <div class="content">
            <div class="left">
              <img src="../../assets/Logo-B8ZhQzM_.svg" alt="logo" />
              <div class="caption">
                We are always open to discuss your project and improve your
                online presence.
              </div>
            </div>
            <div class="right">
              <div class="title">Lets Talk!</div>
              <div class="text">
                We are always open to discuss your project, improve your online
                presence and help with your UX/UI design challenges.
              </div>
              <div class="socials">
                <img
                  src="../../assets/socials-Bue5POBS.svg"
                  alt="socialMedia"
                />
              </div>
            </div>
          </div>
          <div class="contactInfo">
            <div class="email">
              <div class="subject">Email me at</div>
              <div class="address">contact@website.com</div>
            </div>
            <div class="call">
              <div class="callUs">Call us</div>
              <div class="number">0927 6277 28525</div>
            </div>
          </div>
        </div>
        <div class="footerLinks">
          <div class="copyright">Copyright 2021, Finsweet.com</div>
          <div class="footerMenu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="./aboutUs.html">About Us</a>
                </li>
                <li>
                  <a href="./features.html">Features</a>
                </li>
                <li>
                  <a href="./pricing.html">Pricing</a>
                </li>
                <li>
                  <a href="./FAQ.html">FAQ</a>
                </li>
                <li>
                  <a href="./blog.html">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </footer>
      <!--end footer-->
    </div>

  </body>
</html>
