<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finsweet</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon-DVD8y659.png"
      type="image/x-icon"
    />
    <script type="module" crossorigin src="../../assets/main-DbDmGjLj.js"></script>
    <link rel="stylesheet" crossorigin href="../../assets/main-CugK28JT.css">
  </head>
  <body>
    <div id="app">
      <!--menu-->
      <label for="show">
        <div></div>
        <div></div>
        <div></div>
      </label>
      <input type="radio" name="menu" id="show" />
      <input type="radio" name="menu" id="close" />
      <header>
        <label for="close"> &times; </label>
        <div class="logo">
          <img
            src="../../assets/Logo-B8ZhQzM_.svg"
            alt="FinsweetLogo"
          />
        </div>
        <div class="menuItems">
          <div class="menu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="../../src/templates/aboutUs.html" 
                    >About Us</a
                  >
                </li>
                <li>
                  <a href="../templates/features.html">Features</a>
                </li>
                <li>
                  <a href="../templates/pricing.html">Pricing</a>
                </li>
                <li>
                  <a href="../templates/FAQ.html" class="active">FAQ</a>
                </li>
                <li>
                  <a href="../../src/templates/blog.html" 
                    >Blog</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="contactBtn">
            <a href="./contact.html">
              <button>Contact us</button>
            </a>
          </div>
        </div>
      </header>
      <!--end menu-->
      <!--privacy policy heading-->
      <div class="flex flex-col xl:gap-4 xs:gap-2 justify-center items-center xs:p-[50px] xl:px-[552px] xl:py-32 box-border">
        <div class="font-[Poppins] font-semibold xl:text-5xl xs:text-2xl text-[#282938]">
          Privacy Policy
        </div>
        <div class="font-[Poppins] text-[#282938] opacity-70 tetx-[16px] font-normal text-center leading-8">
          When you’re ready to go beyond prototyping in Figma, Webflow’s ready to help you bring your
        </div>
      </div>
      <!--end privacy policy heading-->

      <!--body privacy policy-->
<div class="flex flex-col justify-start items-center xl:gap-10 xs:gap-5 xl:px-[380px] xl:py-8 xs:p-[50px] box-border">
  <div class="flex flex-col justify-start items-start gap-8">
<div class="font-[Poppins] font-semibold text-[#282938] xl:text-[56px] xs:text-2xl ">Lorem ipsum dolor.</div>
<div class="flex flex-col justify-start items-center xl:gap-6 xs:gap-3.5">
  <div class="font-[Poppins] font-normal text-[#282938] text-[16px] opacity-70">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</div>
<div class="font-[Poppins] font-normal text-[#282938] text-[16px] opacity-70">
  Sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
</div>
  </div>
  <div class="flex flex-col justify-start items-start gap-8">
    <div class="font-[Poppins] font-semibold text-[#282938] xl:text-[56px] xs:text-2xl ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <div class="flex flex-col justify-start items-start xl:gap-6 xs:gap-3.5">
      <div class="font-[Poppins] font-normal text-[#282938] text-[16px] opacity-70">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
    <div class="flex flex-col justify-start items-start " >
      <ul class="list-disc flex flex-col justify-start items-start gap-3">
        <li class="font-[Poppins] font-normal text-[#282938] text-[16px] opacity-70">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
        </li>
        
        <li class="font-[Poppins] font-normal text-[#282938] text-[16px] opacity-70">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
        </li>
        
        <li class="font-[Poppins] font-normal text-[#282938] text-[16px] opacity-70">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
        </li>
      </ul>
    </div>
    
    <div class="font-[Poppins] font-normal text-[#282938] text-[16px] opacity-70 xl:pb-32 xs:pb-[50px] box-border">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</div>
    </div>
      </div>
  
</div>
<!--end body privacy policy-->
      <!--footer-->
      <footer>
        <div class="footer">
          <div class="content">
            <div class="left">
              <img src="../../assets/Logo-B8ZhQzM_.svg" alt="logo" />
              <div class="caption">
                We are always open to discuss your project and improve your
                online presence.
              </div>
            </div>
            <div class="right">
              <div class="title">Lets Talk!</div>
              <div class="text">
                We are always open to discuss your project, improve your online
                presence and help with your UX/UI design challenges.
              </div>
              <div class="socials">
                <img
                  src="../../assets/socials-Bue5POBS.svg"
                  alt="socialMedia"
                />
              </div>
            </div>
          </div>
          <div class="contactInfo">
            <div class="email">
              <div class="subject">Email me at</div>
              <div class="address">contact@website.com</div>
            </div>
            <div class="call">
              <div class="callUs">Call us</div>
              <div class="number">0927 6277 28525</div>
            </div>
          </div>
        </div>
        <div class="footerLinks">
          <div class="copyright">Copyright 2021, Finsweet.com</div>
          <div class="footerMenu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="./aboutUs.html">About Us</a>
                </li>
                <li>
                  <a href="./features.html">Features</a>
                </li>
                <li>
                  <a href="./pricing.html">Pricing</a>
                </li>
                <li>
                  <a href="./FAQ.html">FAQ</a>
                </li>
                <li>
                  <a href="./blog.html">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </footer>
      <!--end footer-->
    </div>

  </body>
</html>
