<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finsweet</title>
    <link
      rel="shortcut icon"
      href="../../public/images/essentials/favicon.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/mdb-ui-kit/css/mdb.min.css"
    />
  </head>
  <body>
    <div id="app">
      <!--menu-->
      <label for="show">
        <div></div>
        <div></div>
        <div></div>
      </label>
      <input type="radio" name="menu" id="show" />
      <input type="radio" name="menu" id="close" />
      <header>
        <label for="close"> &times; </label>
        <div class="logo">
          <img
            src="../../public/images/essentials/Logo.svg"
            alt="FinsweetLogo"
          />
        </div>
        <div class="menuItems">
          <div class="menu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="./aboutUs.html">About Us</a>
                </li>
                <li>
                  <a href="#" class="active">Features</a>
                </li>
                <li>
                  <a href="./pricing.html">Pricing</a>
                </li>
                <li>
                  <a href="./FAQ.html">FAQ</a>
                </li>
                <li>
                  <a href="./blog.html">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="contactBtn">
            <a href="./contact.html">
              <button>Contact us</button>
            </a>
          </div>
        </div>
      </header>
      <!--end menu-->

      <!--homeHero-->
      <div class="homeHero">
        <div class="info">
          <div class="title">All the features you need</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="buttons">
            <button>View Pricing</button>
          </div>
        </div>
        <div class="illustration">
          <img
            src="../../public/images/features/featurehero/Feature Hero Illustration.png"
            alt="illustration"
          />
        </div>
      </div>
      <!--end homeHero-->

      <!--benefits-->
      <div class="benefits">
        <div class="logo">
          <img
            src="../../public/images/about us/benefits/Logo Number.svg"
            alt="logo&number"
            class="mainLogo"
          />
          <img
            src="../../public/images/about us/benefits/logo1.svg"
            alt="logo"
          />
          <img
            src="../../public/images/about us/benefits/logo2.svg"
            alt="logo"
          />
          <img
            src="../../public/images/about us/benefits/logo3.svg"
            alt="logo"
          />
          <img
            src="../../public/images/about us/benefits/Logo4.svg"
            alt="logo"
          />
          <img
            src="../../public/images/about us/benefits/Logo5.svg"
            alt="logo"
          />
        </div>
        <div class="title">The benefits of working with us</div>
        <div class="cardsBenefit">
          <div class="card">
            <img
              src="../../public/images/about us/benefits/icon1.svg"
              alt="icon"
            />
            <div class="titleCard">Customize with ease</div>
            <div class="descriptionCard">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua ut
              enim.
            </div>
          </div>
          <div class="card">
            <img
              src="../../public/images/about us/benefits/icon2.svg"
              alt="icon"
            />
            <div class="titleCard">Perfectly Responsive</div>
            <div class="descriptionCard">
              Euismod faucibus turpis eu gravida mi. Pellentesque et velit
              aliquam sed faucib turpis eu gravida mi. Pellentesque et velit
              aliquam sed mi.
            </div>
          </div>
          <div class="card">
            <img
              src="../../public/images/about us/benefits/icon3.svg"
              alt="icon"
            />
            <div class="titleCard">Friendly Support</div>
            <div class="descriptionCard">
              Euismod faucibus turpis eu gravida mi. Pellentesque et velit
              aliquam sed faucib turpis eu gravida mi. Pellentesque et velit
              aliquam sed mi.
            </div>
          </div>
        </div>
      </div>
      <!--end benefits-->

      <!--best in class-->
      <div class="aboutHero">
        <div class="content">
          <div class="texts">
            <div class="text">Use Client-first</div>
            <div class="title" style="font-size: 38px">
              Top agencies and freelancers around the world use Client-first
            </div>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation.
          </div>
        </div>
        <img src="../../public/images/features/bestinclass.png" alt="aboutUs" />
      </div>
      <!-- end best in class-->

      <div class="mission">
        <div class="bottom">
          <div class="textGroup">
            <div class="subject">Free Revision Rounds</div>
            <div class="title" style="font-size: 38px">
              Get free Revisions and one week of free maintenance
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </div>
          </div>
          <img
            src="../../public/images/features/free revision.png"
            alt="mission"
          />
        </div>
      </div>

      <div class="aboutHero">
        <div class="content">
          <div class="texts">
            <div class="text">24/7 Support</div>
            <div class="title" style="font-size: 38px">
              Working with us, you will be getting 24/7 priority support
            </div>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </div>
        </div>
        <img src="../../public/images/features/support.png" alt="aboutUs" />
      </div>

      <div class="mission" style="background-color: #fcd9801a">
        <div class="bottom">
          <div class="textGroup">
            <div class="subject">Quick Delivery</div>
            <div class="title" style="font-size: 38px">
              Guranteed 1 week delivery for standard five pager website
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </div>
          </div>
          <img
            src="../../public/images/features/quickDeliver.png"
            alt="mission"
          />
        </div>
      </div>

      <!--FAQ-->
      <div class="FAQ">
        <div class="FAQheading">
          <div class="title">Frequently asked questions</div>
          <div class="description">Contact us for more info</div>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                data-mdb-collapse-init
                class="accordion-button d-flex flex-row flex-nowrap gap-4 justify-content-center align-items-center text-dark"
                type="button"
                data-mdb-target="#panelsStayOpen-collapseOne"
                aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne"
              >
                <h2 class="m-0">01</h2>
                How much time does it take?
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
            >
              <div class="accordion-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                data-mdb-collapse-init
                class="accordion-button collapsed d-flex flex-row flex-nowrap gap-4 justify-content-center align-items-center text-dark"
                type="button"
                data-mdb-target="#panelsStayOpen-collapseTwo"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo"
              >
                <h2 class="m-0">02</h2>
                What is your class naming convention?
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
            >
              <div class="accordion-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi,
                minima?
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                data-mdb-collapse-init
                class="accordion-button collapsed d-flex flex-row flex-nowrap gap-4 justify-content-center align-items-center text-dark"
                type="button"
                data-mdb-target="#panelsStayOpen-collapseThree"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree"
              >
                <h2 class="m-0">03</h2>
                How do you communicate?
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
            >
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                data-mdb-collapse-init
                class="accordion-button collapsed d-flex flex-row flex-nowrap gap-4 justify-content-center align-items-center text-dark"
                type="button"
                data-mdb-target="#panelsStayOpen-collapseFour"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFour"
              >
                <h2 class="m-0">04</h2>
                I have a bigger project. Can you handle it?
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
            >
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                data-mdb-collapse-init
                class="accordion-button collapsed d-flex flex-row flex-nowrap gap-4 justify-content-center align-items-center text-dark"
                type="button"
                data-mdb-target="#panelsStayOpen-collapseFive"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFive"
              >
                <h2 class="m-0">05</h2>
                What is your class naming convention?
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
            >
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end FAQ-->

      <!--footer-->
      <footer>
        <div class="footer">
          <div class="content">
            <div class="left">
              <img src="../../public/images/essentials/Logo.svg" alt="logo" />
              <div class="caption">
                We are always open to discuss your project and improve your
                online presence.
              </div>
            </div>
            <div class="right">
              <div class="title">Lets Talk!</div>
              <div class="text">
                We are always open to discuss your project, improve your online
                presence and help with your UX/UI design challenges.
              </div>
              <div class="socials">
                <img
                  src="../../public/images/essentials/socials.svg"
                  alt="socialMedia"
                />
              </div>
            </div>
          </div>
          <div class="contactInfo">
            <div class="email">
              <div class="subject">Email me at</div>
              <div class="address">contact@website.com</div>
            </div>
            <div class="call">
              <div class="callUs">Call us</div>
              <div class="number">0927 6277 28525</div>
            </div>
          </div>
        </div>
        <div class="footerLinks">
          <div class="copyright">Copyright 2021, Finsweet.com</div>
          <div class="footerMenu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="./aboutUs.html">About Us</a>
                </li>
                <li>
                  <a href="./features.html">Features</a>
                </li>
                <li>
                  <a href="./pricing.html">Pricing</a>
                </li>
                <li>
                  <a href="./FAQ.html">FAQ</a>
                </li>
                <li>
                  <a href="./blog.html">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </footer>
      <!--end footer-->
    </div>
    <script type="module" src="../js/main.js"></script>
    <script type="module"  src="../../node_modules/mdb-ui-kit/js/mdb.umd.min.js"></script>
  </body>
</html>
