<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finsweet</title>
    <link
      rel="shortcut icon"
      href="../../public/images/essentials/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div id="app">
      <!--menu-->
      <label for="show">
        <div></div>
        <div></div>
        <div></div>
      </label>
      <input type="radio" name="menu" id="show" />
      <input type="radio" name="menu" id="close" />
      <header>
        <label for="close"> &times; </label>
        <div class="logo">
          <img
            src="../../public/images/essentials/Logo.svg"
            alt="FinsweetLogo"
          />
        </div>
        <div class="menuItems">
          <div class="menu">
            <nav>
              <ul>
                <li>
                  <a href="../../index.html">Home</a>
                </li>
                <li>
                  <a href="../templates/aboutUs.html">About Us</a>
                </li>
                <li>
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="#" class="active">Pricing</a>
                </li>
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="contactBtn">
            <button>Contact us</button>
          </div>
        </div>
      </header>
      <!--end menu-->
      <!--pricing heading-->
      <div class="pricingHeading">
        <div class="text">
          <div class="title">Our Pricing Plans</div>
          <div class="description">
            When you’re ready to go beyond prototyping in Figma, Webflow is
            ready to help you bring your designs to life — without coding them.
          </div>
        </div>
      </div>
      <!--end pricing heading-->
      <div class="cards">
        <div class="pricingCards">
          <div class="top">
            <div class="priceText">
              <div class="price">$229</div>
              <div class="month">Per Design</div>
            </div>
            <div class="text">
              <div class="title">Landing Page</div>
              <div class="description">
                When you’re ready to go beyond prototyping in Figma,
              </div>
            </div>
          </div>
          <div class="middle">
            <ul>
              <li>
                <img
                  src="../../public/images/pricing/Pointer.svg"
                  alt="pointer"
                />
                All limited links
              </li>
              <li>
                <img
                  src="../../public/images/pricing/Pointer.svg"
                  alt="pointer"
                />
                Own analytics platform
              </li>
              <li>
                <img
                  src="../../public/images/pricing/Pointer.svg"
                  alt="pointer"
                />
                Chat support
              </li>
              <li class="disabled">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g style="mix-blend-mode: luminosity">
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      fill="#FC80AD"
                    />
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      stroke="url(#paint0_linear_174_512)"
                      stroke-width="3"
                    />
                  </g>
                  <defs>
                    <linearGradient
                      id="paint0_linear_174_512"
                      x1="-4.84615"
                      y1="-17"
                      x2="11.6069"
                      y2="11.3225"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>

                Optimize hashtags
              </li>
              <li class="disabled">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g style="mix-blend-mode: luminosity">
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      fill="#FC80AD"
                    />
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      stroke="url(#paint0_linear_174_512)"
                      stroke-width="3"
                    />
                  </g>
                  <defs>
                    <linearGradient
                      id="paint0_linear_174_512"
                      x1="-4.84615"
                      y1="-17"
                      x2="11.6069"
                      y2="11.3225"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>

                Unlimited users
              </li>
              <li class="none-light">
                none
              </li>

            </ul>
          </div>
          <div class="bottom">
            <button>Get Started</button>
          </div>
        </div>
        <div class="pricingCards background">
          <div class="top">
            <div class="priceText">
              <div class="price dark">$399</div>
              <div class="month dark">Multi Design</div>
            </div>
            <div class="text">
              <div class="title dark">Website Page </div>
              <div class="description dark">
                When you’re ready to go beyond prototyping in Figma,
              </div>
            </div>
          </div>
          <div class="middle">
            <ul >
              <li class="dark">
                <img
                  src="../../public/images/pricing/Pointer.svg"
                  alt="pointer"
                />
                All limited links
              </li>
              <li class="dark">
                <img
                  src="../../public/images/pricing/Pointer.svg"
                  alt="pointer"
                />
                Own analytics platform
              </li>
              <li class="dark">
                <img
                  src="../../public/images/pricing/Pointer.svg"
                  alt="pointer"
                />
                Chat support
              </li>
              <li class=" dark">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g style="mix-blend-mode: luminosity">
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      fill="#FC80AD"
                    />
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      stroke="url(#paint0_linear_174_512)"
                      stroke-width="3"
                    />
                  </g>
                  <defs>
                    <linearGradient
                      id="paint0_linear_174_512"
                      x1="-4.84615"
                      y1="-17"
                      x2="11.6069"
                      y2="11.3225"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>

                Optimize hashtags
              </li>
              <li class=" dark">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g style="mix-blend-mode: luminosity">
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      fill="#FC80AD"
                    />
                    <path
                      d="M13.7764 9.2373C14.5938 9.85204 14.5701 11.0865 13.7295 11.6689L3.85351 18.5068C2.8587 19.1954 1.5 18.4834 1.5 17.2734L1.5 3.00976C1.5 1.77291 2.91277 1.06741 3.90137 1.81055L13.7764 9.2373Z"
                      stroke="url(#paint0_linear_174_512)"
                      stroke-width="3"
                    />
                  </g>
                  <defs>
                    <linearGradient
                      id="paint0_linear_174_512"
                      x1="-4.84615"
                      y1="-17"
                      x2="11.6069"
                      y2="11.3225"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>

                Unlimited users
              </li>
              <li class="none">
                none
              </li>
            </ul>
          </div>
          <div class="bottom">
            <button class="color">Get Started</button>
          </div>
        </div>
        <div class="pricingCards">
          <div class="top">
            <div class="priceText">
              <div class="price">$499 +</div>
              <div class="month">Per Design</div>
            </div>
            <div class="text">
              <div class="title">Complex Project</div>
              <div class="description">
                When you’re ready to go beyond prototyping in Figma,
              </div>
            </div>
          </div>
          <div class="middle">
            <ul>
              <li>
                <img
                  src="../../public/images/pricing/Pointer.svg"
                  alt="pointer"
                />
                All limited links
              </li>
              <li>
                <img
                  src="../../public/images/pricing/Pointer.svg"
                  alt="pointer"
                />
                Own analytics platform
              </li>
              <li>
                <img
                  src="../../public/images/pricing/Pointer.svg"
                  alt="pointer"
                />
                Chat support
              </li>
              <li >
                <img src="../../public/images/pricing/Pointer.svg" alt="pointer">

                Optimize hashtags
              </li>
              <li>
                <img src="../../public/images/pricing/Pointer.svg" alt="pointer">
                Unlimited users
              </li>
              <li>
                <img src="../../public/images/pricing/Pointer.svg" alt="pointer">

                Assist and Help
              </li>
            </ul>
          </div>
          <div class="bottom">
            <button>Get Started</button>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
