.FAQ {
  flex-flow: row nowrap;
  padding: 128px 160px;
  gap: 110px;
  .FAQheading {
    gap: 16px;
    align-items: start;
    .title {
      font-size: 38px;
      line-height: 56px;
    }
    .description {
      font-size: 18px;
      line-height: 32px;
    }
  }
  .accordion{width: 70%;}
  .collapse {
    visibility: unset;
  }
  
}
